doctype html
html
 head
  title Score Edit
  link(rel='stylesheet', href='/stylesheets/style.css')  
 body
  a(href="/") Home
  div #{subject.name} &nbsp;&nbsp;&nbsp;&nbsp; 
  div Maxscore: #{subject.maxScore}
  div Grade: 
   a(href="/grade/#{grade.id}") #{grade.name}
  form(action = "/updateScore/#{student.id}/#{subject.id}", method="POST")
   table(border = "4")
    tr
     th Student Id
     th Student Name
     th Subject Id
     th Subject Score
    tr
     td
      input(type="text", name="student_id", value="#{student.id}", disabled)
     td
      input(type="text", name="student_name", value="#{student.name}")
     td
      input(type="text", name="subject_id", value="#{subject.id}", disabled)
     td
      input(type="text", name="score", value="#{score}")
   br
   input(type="submit", value="save changes")