
doctype html
html
 head
  title Edit Subject
  link(rel='stylesheet', href='/stylesheets/style.css')  
 body
  a(href="/") Home
  h1 Edit #{name}
  form(action = "/updateSubject/#{id}/#{grade_id}", method="POST")
    table( border = "4")
     tr
      th Grade Id
      th Subject Id
      th Name
      th MaxScore
     tr
      td 
       input(type="text", name="grade_id", value="#{grade_id}", disabled)
      td
       input(type="text", name="id", value="#{id}", disabled)
      td
       input(type="text", name="name", value="#{name}")
      td
       input(type="text", name="maxScore", value="#{maxScore}")
    br
    input(type="submit", value="update")